.pink-background {
  background-color: lightpink;
}

.blue-background {
  background-color: aliceblue;
}

div {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  margin: 5px;
  padding: 20px;
}
